<template>
    <div id="home">
        <p>Hello world</p>
        <p>{{ title }}</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: 'Vue Hello world'
        }
    }
}
</script>
