<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    <h1>
        <%= welcome %>
    </h1>

    <main id="app">
        <app />
    </main>

    <script src="/js/app.js"></script>
</body>
</html>